<div class="mt-5" data-content-section>
  <div data-section-perent-guardian>
      <form method="post" name="add_new_person_2" <% if(isedit) {%>action="/dashboard/person/edit/guardian/?uid=<%=pid%>"<%}%> class="is-active" enctype="multipart/form-data">
          <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
            <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">Parent/Guardian Details</h4>

            <div class="flex w-full">
              <div class="flex flex-col w-1/2 mr-10">
                <label for="person2-fullname">Full Name</label>
                <input type="text" class="form-input border <%if(errorObj['person2-fullname']){%>border-red-700<%}%>"
                  name="person2-fullname" id="person2-fullname"
                  value="<%if(oldValue['person2-fullname']){%><%=oldValue['person2-fullname']%><%}%>">

                <%if(errorObj["person2-fullname"]){%>
                  <span class="text-red-700">
                    <%= errorObj["person2-fullname"] %>
                  </span>
                  <%}%>
              </div>
              <div class="flex flex-col w-1/2">
                <label for="person2-email">Email</label>
                <input type="email" class="form-input border <%if(errorObj['person2-email']){%>border-red-700<%}%>"
                  name="person2-email" id="person2-email"
                  value="<%if(oldValue['person2-email']){%><%=oldValue['person2-email']%><%}%>">

                <%if(errorObj['person2-email']){%>
                  <span class="text-red-700">
                    <%= errorObj['person2-email'] %>
                  </span>
                  <%}%>
              </div>
            </div>

            <div class="flex w-full mt-5">
              <div class="flex flex-col w-1/2 mr-10">
                <label for="person2-gender">Gender</label>
                <select class="border py-[9px] <%if(errorObj['person2-gender']){%>border-red-700<%}%>" name="person2-gender"
                  id="person2-gender">
                  <option value="">Select Gender</option>
                  <% Object.entries({'m':'male','f':'female','o':'other'}).forEach(([key,val])=> {%>
                    <% if(oldValue["person2-gender"]==key) {%>
                      <option value="<%=key%>" selected>
                        <%=val%>
                      </option>
                      <%}else{%>
                        <option value="<%=key%>">
                          <%=val%>
                        </option>
                        <% }}) %>
                </select>
                <%if(errorObj['person2-gender']){%>
                  <span class="text-red-700">
                    <%= errorObj['person2-gender'] %>
                  </span>
                  <%}%>
              </div>
              <div class="flex flex-col w-1/2">
                <label for="person2-mobile">Mobile no.</label>
                <input type="tel" class="form-input border  <%if(errorObj['person2-mobile']){%>border-red-700<%}%>"
                  name="person2-mobile" id="person2-mobile"
                  value="<%if(oldValue['person2-mobile']){%><%=oldValue['person2-mobile']%><%}%>">

                <%if(errorObj["person2-mobile"]){%>
                  <span class="text-red-700">
                    <%= errorObj["person2-mobile"] %>
                  </span>
                  <%}%>
              </div>
            </div>

            <div class="block mt-5 border p-3">
              <h5 class="mb-4 text-md font-semibold text-gray-600 dark:text-gray-300">Document</h5>
              <div class="flex items-center <%if(errorObj['person2-doc-type']){%>border border-red-700<%}%>">
                <label for="person2-doc-dl" class="mr-5">
                  <input type="radio" name="person2-doc-type" id="person2-doc-dl" <%if(oldValue['person2-doc-type']=='dl'
                    ){%>checked<%}%> value="dl">
                    <span>Driving Licence</span>
                </label>
                <label for="person2-doc-vi" class="mr-5">
                  <input type="radio" name="person2-doc-type" id="person2-doc-vi" <%if(oldValue['person2-doc-type']=='vi'
                    ){%>checked<%}%> value="vi">
                    <span>Voter Id</span>
                </label>
                <label for="person2-doc-aadhar" class="mr-5">
                  <input type="radio" name="person2-doc-type" id="person2-doc-aadhar"
                    <%if(oldValue['person2-doc-type']=='aadhar' ){%>checked<%}%> value="aadhar">
                    <span>Aathar</span>
                </label>
                <label for="person2-doc-pan" class="mr-5">
                  <input type="radio" name="person2-doc-type" id="person2-doc-pan" <%if(oldValue['person2-doc-type']=='pan'
                    ){%>checked<%}%> value="pan">
                    <span>PAN</span>
                </label>
                <label for="person2-doc-pass" class="mr-5">
                  <input type="radio" name="person2-doc-type" id="person2-doc-pass"
                    <%if(oldValue['person2-doc-type']=='pass' ){%>checked<%}%> value="pass">
                    <span>Passport</span>
                </label>
                <label for="person2-doc-rc" class="mr-5">
                  <input type="radio" name="person2-doc-type" id="person2-doc-rc" <%if(oldValue['person2-doc-type']=='rc'
                    ){%>checked<%}%> value="rc">
                    <span>Rasan Card</span>
                </label>

                <%if(errorObj["person2-doc-type"]){%>
                  <span class="text-red-700">
                    <%= errorObj["person2-doc-type"] %>
                  </span>
                  <%}%>
              </div>

              <div class="flex w-full mt-5">
                <div class="flex flex-col w-1/2 mr-10">
                  <label for="person2-doc-front">Uploade Document(Front)</label>
                  <input type="file" class="form-input border <%if(errorObj['person2-doc-front']){%>border-red-700<%}%>"
                    name="person2-doc-front" id="person2-doc-front"
                    value="<%if(oldValue['person2-doc-front']){%><%=oldValue['person2-doc-front']%><%}%>">
                  <%if(errorObj["person2-doc-front"]){%>
                    <span class="text-red-700">
                      <%= errorObj["person2-doc-front"] %>
                    </span>
                    <%}%>

                    <%if(oldValue['person2-doc-front']){%>
                      <div class="border border-gray-700 w-24 h-24 mt-3">
                        <img src="/images/uploads<%=oldValue['person2-doc-front']%>" class="w-24 h-24 p-1"
                          alt="<%=oldValue['person2-fullname']%>">
                      </div>
                      <%}%>
                </div>
                <div class="flex flex-col w-1/2 hidden">
                  <label for="person2-doc-back">Uploade Document(Back)</label>
                  <input type="file" class="form-input border <%if(errorObj['person2-doc-back']){%>border-red-700<%}%>"
                    name="person2-doc-back" id="person2-doc-back"
                    value="<%if(oldValue['person2-doc-back']){%><%=oldValue['person2-doc-back']%><%}%>">
                  <%if(errorObj["person2-doc-back"]){%>
                    <span class="text-red-700">
                      <%= errorObj["person2-doc-back"] %>
                    </span>
                    <%}%>
                    <%if(oldValue['person2-doc-back']){%>
                      <div class="border border-gray-700 w-24 h-24 mt-3">
                        <img src="/images/uploads<%=oldValue['person2-doc-back']%>" class="w-24 h-24 p-1"
                          alt="<%=oldValue['person2-fullname']%>">
                      </div>
                      <%}%>
                </div>
              </div>
            </div>

            <div class="flex w-full mt-5">
              <div class="flex flex-col w-1/2 mr-10">
                <label for="person-address-ln1">Address Line-1</label>
                <input type="text" class="form-input border <%if(errorObj['person2-address-ln1']){%>border-red-700<%}%>"
                  name="person2-address-ln1" id="person2-address-ln1"
                  value="<%if(oldValue['person2-address-ln1']){%><%=oldValue['person2-address-ln1']%><%}%>">
                <%if(errorObj["person2-address-ln1"]){%>
                  <span class="text-red-700">
                    <%= errorObj["person2-address-ln1"] %>
                  </span>
                  <%}%>
              </div>
              <div class="flex flex-col w-1/2">
                <label>Address Line-2</label>
                <input type="text" class="form-input border" name="person2-address-ln2" id="person2-address-ln2" value="">
              </div>
            </div>

            <div class="flex w-full mt-5">
              <div class="flex flex-col w-1/2 mr-10">
                <label for="person-country">Country</label>
                <select class="form-input border  <%if(errorObj['person2-country']){%>border-red-700<%}%>"
                  name="person2-country" id="person2-country">
                  <option value="">Choose Country</option>
                  <%if(country){%>
                    <% Object.entries(country).forEach(([key,val])=>{ %>
                      <% if(oldValue['person2-country']==key) {%>
                        <option value="<%= key %>" selected>
                          <%= val %>
                        </option>
                        <%}else{%>
                          <option value="<%= key %>">
                            <%= val %>
                          </option>
                          <% }}) %>
                            <%}%>
                </select>
                <%if(errorObj["person2-country"]){%>
                  <span class="text-red-700">
                    <%= errorObj["person2-country"] %>
                  </span>
                  <%}%>
              </div>
              <div class="flex flex-col w-1/2">
                <label for="person-state">State</label>
                <select class="form-input border <%if(errorObj['person2-state']){%>border-red-700<%}%>" name="person2-state"
                  id="person2-state">
                  <option value="">Choose State</option>
                  <%if(states){%>
                    <% states.forEach(val=>{ %>
                      <% if(oldValue['person2-state']==val) {%>
                        <option value="<%= val %>" selected>
                          <%= val %>
                        </option>
                      <%}else{%>
                          <option value="<%= val %>">
                            <%= val %>
                          </option>
                      <% }}) %>
                  <%}%>
                </select>
                <%if(errorObj["person2-state"]){%>
                  <span class="text-red-700">
                    <%= errorObj["person2-state"] %>
                  </span>
                  <%}%>
              </div>
            </div>

            <div class="flex w-full mt-5">
              <div class="flex flex-col w-1/2 mr-10">
                <label for="person-city">City</label>
                <input type="text" class="form-input border <%if(errorObj['person2-city']){%>border-red-700<%}%>"
                  name="person2-city" id="person2-city"
                  value="<%if(oldValue['person2-city']){%><%=oldValue['person2-city']%><%}%>">
                <%if(errorObj["person2-city"]){%>
                  <span class="text-red-700">
                    <%= errorObj["person2-city"] %>
                  </span>
                  <%}%>
              </div>
              <div class="flex flex-col w-1/2">
                <label for="zipcode">Zip code</label>
                <input type="text" class="form-input border <%if(errorObj['person2-zipcode']){%>border-red-700<%}%>"
                  name="person2-zipcode" id="person2-zipcode"
                  value="<%if(oldValue['person2-zipcode']){%><%=oldValue['person2-zipcode']%><%}%>">
                  <%if(errorObj["person2-zipcode"]){%>
                  <span class="text-red-700">
                    <%= errorObj["person2-zipcode"] %>
                  </span>
                  <%}%>
              </div>
            </div>

            <% if(isedit) {%>
              <input type="hidden" name="pid" value="<%=pid%>">
              <input type="hidden" name="mode" value="edit">
            <% }%>

            <div class="w-full flex justify-between">
              <% if(!isedit) {%>
                <a prev-step-btn href="/dashboard/person/create-new/personal-info" class="
                  bg-purple-700
                  px-4
                  py-3
                  mt-10
                  text-white
                ">
                  Previous
                </a>
              <% }%>
              <button next-step-btn class="
                bg-purple-700
                px-4
                py-3
                mt-10
                text-white
              ">
              <% if(isedit) {%>Save<% }else{ %>Next<%}%>
              </button>
            </div>
          </div>
      </form>
  </div>
</div>