<main class="h-full overflow-y-auto">
  <div class="container px-6 mx-auto grid">
    <div class="flex items-center justify-between">
      <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
        <% if(pageTitle){%>
          <%= pageTitle %>
        <%}else{%>
          Blank
         <%}%>
      </h2>
  
      <a href="/dashboard/rooms/create" class="
        px-2
        py-3
        text-sm 
        font-medium 
        leading-5 
        text-white 
        transition-colors 
        duration-150 
        bg-purple-600 
        border 
        border-transparent 
        rounded-lg 
        active:bg-purple-600 
        hover:bg-purple-700 
        focus:outline-none 
        focus:shadow-outline-purple">
        Add New Room
    </a>
    </div>

    <!-- New Table -->
    <% if(rooms){%>
    <div class="w-full overflow-hidden rounded-lg shadow-xs">
      <div class="w-full overflow-x-auto">
        <table class="w-full whitespace-no-wrap">
          <thead>
            <tr
              class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
              <th class="px-4 py-3">Room Image</th>
              <th class="px-4 py-3">No. Sharing</th>
              <th class="px-4 py-3">Location</th>
              <th class="px-4 py-3">Join Date</th>
              <th class="px-4 py-3"></th>
              <th class="px-4 py-3"></th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
            
              <% rooms.forEach((p) => { %>
              <tr class="text-gray-700 hover:bg-gray-100 dark:text-gray-400">
                <td class="px-4 py-3 cursor-pointer" data-infoPopup>
                  <div class="flex items-center text-sm">
                    
                    <div class="relative hidden w-20 h-20 mr-3 rounded-full md:block">
                      <img class="object-cover w-full h-full"
                        src="/images/uploads<%=p.room_image%>"
                        alt="<%=p.room_no%>" loading="lazy" />
                      <div class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></div>
                    </div>
                    <div>
                      <p class="font-semibold"><%=p.room_no%></p>
                    </div>
                  </div>
                </td>
                <td class="px-4 py-3 text-sm">
                  <%=p.num_of_sharing%>
                </td>
                <td class="px-4 py-3 text-sm">
                  <%=p.room_location%>
                </td>
                
                <td class="px-4 py-3 text-sm">
                  <%=p.created_at%>
                </td>
                <td class="px-4 py-3 text-sm">
                  <a href="/dashboard/rooms/edit?rid=<%=p.id%>">
                    <img src="/icons/edit-icon/edit-32.png">
                  </a>
                </td>
                <td class="px-4 py-3 text-sm">
                  <form method="post" action="/dashboard/rooms/remove" name="remove_room">
                    <img src="/icons/remove-icon/remove-32.png" data-remove class="cursor-pointer">
                    <input type="hidden" name="room_id" value="<%=p.id%>">
                  </form>
                </td>
              </tr>
              <%})%>
          </tbody>
        </table>
        
      </div>
      <div
        class="grid px-4 py-3 text-xs font-semibold tracking-wide text-gray-500 uppercase border-t dark:border-gray-700 bg-gray-50 sm:grid-cols-9 dark:text-gray-400 dark:bg-gray-800">
        <span class="flex items-center col-span-3">
          Showing 21-30 of 100
        </span>
        <span class="col-span-2"></span>
        <!-- Pagination -->
        <span class="flex col-span-4 mt-2 sm:mt-auto sm:justify-end">
          <nav aria-label="Table navigation">
            <ul class="inline-flex items-center">
              <li>
                <button class="px-3 py-1 rounded-md rounded-l-lg focus:outline-none focus:shadow-outline-purple"
                  aria-label="Previous">
                  <svg aria-hidden="true" class="w-4 h-4 fill-current" viewBox="0 0 20 20">
                    <path
                      d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                      clip-rule="evenodd" fill-rule="evenodd"></path>
                  </svg>
                </button>
              </li>
              <li>
                <button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
                  1
                </button>
              </li>
              <li>
                <button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
                  2
                </button>
              </li>
              <li>
                <button
                  class="px-3 py-1 text-white transition-colors duration-150 bg-purple-600 border border-r-0 border-purple-600 rounded-md focus:outline-none focus:shadow-outline-purple">
                  3
                </button>
              </li>
              <li>
                <button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
                  4
                </button>
              </li>
              <li>
                <span class="px-3 py-1">...</span>
              </li>
              <li>
                <button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
                  8
                </button>
              </li>
              <li>
                <button class="px-3 py-1 rounded-md focus:outline-none focus:shadow-outline-purple">
                  9
                </button>
              </li>
              <li>
                <button class="px-3 py-1 rounded-md rounded-r-lg focus:outline-none focus:shadow-outline-purple"
                  aria-label="Next">
                  <svg class="w-4 h-4 fill-current" aria-hidden="true" viewBox="0 0 20 20">
                    <path
                      d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                      clip-rule="evenodd" fill-rule="evenodd"></path>
                  </svg>
                </button>
              </li>
            </ul>
          </nav>
        </span>
      </div>
    </div>
    <%}else{%>
      <div class="w-full">
        <div class="mx-auto w-1/2 flex flex-col items-center">
          <img src="/icons/room.png" class="">
          <span class="text-3xl font-bold text-gray-300 font-sans">There are no room added yet</span>  
        </div>
      </div>
    <%}%>

  </div>
</main>