<%- include("../ui-components/auth/header.ejs") %>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
                <form class="login100-form validate-form" action="/confirm-email" method="post">
                    <span class="login100-form-title p-b-48">
						<a href="/">
							<img src="/icons/home-colored/home-l.png">
						</a>	
						<h2>PGMS</h2>
                    </span>
					<span class="login100-form-title login100-form-title-action p-b-26">
						Reset Password
					</span>

					<% if(successMessage){ %>
						<div class="message success-msg">
							<span><%= successMessage %></span>
						</div>
					<% } %>

					<% if(infoMessage){ %>
						<div class="message info-msg">
							<span><%= infoMessage %></span>
						</div>
					<% } %>

					<% if(errorMessage){ %>
						<div class="message error-msg">
							<span><%= errorMessage %></span>
						</div>
					<% } %>


					<div class="wrap-input100 validate-input">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						<input class="input100" type="password" placeholder="Password" name="password">
						<span class="focus-input100 frm-error">
							<%= errorObj.password %>
						</span>
					</div>

					<div class="wrap-input100 validate-input">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						<input class="input100" type="password" placeholder="Confirm-Password" name="cpass">
						<span class="focus-input100 frm-error">
							<%= errorObj.cpass %>
						</span>
					</div>

					<input type="hidden" name="token" value="<%if(oldValue){%><%= oldValue.token %><%}else{%><%=token%><%}%>"/>

					
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								Update Password
							</button>
						</div>
					</div>

					
					
					
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<%- include("../ui-components/auth/footer.ejs") %>