<%- include("../ui-components/auth/header.ejs") %>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
                <form class="login100-form validate-form" method="post">
                    <span class="login100-form-title p-b-48">
                        <img src="/icons/home-colored/home-l.png">
                        <h2>PGMS</h2>
                    </span>
					<span class="login100-form-title login100-form-title-action p-b-26">
						Signup
					</span>

					<% if(successMsg){ %>
						<div class="success-msg">
							<span><%= successMsg %></span>
						</div>
					<% } %>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
						<input class="input100" type="text" name="fullname">
						<span class="focus-input100" data-placeholder="Full Name">
							<%= errorObj.fullname %>
						</span>
					</div>
                    
                    <div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
						<input class="input100" type="email" name="email">
						<span class="focus-input100" data-placeholder="Email">
							<%= errorObj.email %>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						<input class="input100" type="password" name="password">
						<span class="focus-input100" data-placeholder="Password">
							<%= errorObj.password %>
						</span>
					</div>

                    <div class="wrap-input100 validate-input" data-validate="Enter password">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
						<input class="input100" type="password" name="cpass">
						<span class="focus-input100" data-placeholder="Re-enter Password">
							<%= errorObj.cpass %>
						</span>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								Signup
							</button>
						</div>
					</div>

					<div class="text-center p-t-115">
						<span class="txt1">
							Do you have an account?
						</span>
						<a class="txt2" href="/">
							Login 
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<%- include("../ui-components/auth/footer.ejs") %>