<%- include("../../../ui-components/dashboard/header.ejs") %>
<!-- sidebar -->
<%- include("../../../ui-components/dashboard/sidebar.ejs") %>

<!-- main content -->
        <div class="flex flex-col flex-1 w-full">
                <%- include("../../../ui-components/dashboard/navigation.ejs") %>
                <%- include("../../../ui-components/dashboard/person-info/edit-person.ejs") %>
        </div>
        <%- include("../../../ui-components/dashboard/mobile-verification-popup.ejs",{isedit:true}) %>
        
<%- include("../../../ui-components/dashboard/footer.ejs") %>